
.chat {
  display: flex;
  flex-direction: column;
  flex: 0.68;
}
.chat_header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid gray;
}
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat_headerRight {
  /* flex:1; */
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo > p {
  color: gray;
}

.chat_body {
  flex: 1;
  background-image: url("https://www.fonewalls.com/wp-content/uploads/2020/02/WhatsApp-Background-Wallpaper-13-300x585.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  /* background-size: cover; Resize the background image to cover the entire container */
  object-fit: contain;
  overflow: scroll;
  padding: 30px;
}
.chat_message{
  background-color: white;
  position: relative;
  font-size: 16px;
  padding: 8px;
  width: fit-content;/* jitna content ho utni hi width ho*/ /* very very important*/
  margin-bottom: 25px;
  border-radius: 12px;
 
}

.chat_send{
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat_timestamp{
  
  
  margin-left: 25px;
 
  font-size: xx-small;
  

}

.chat_name{
  position: absolute;
  top: -15px;
  font-weight: 900px;
  font-size: xx-small;
  color: #fffafa;
}
.chat_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid lightgray ;

}
.chat_footer > form{
  flex: 1;
  display: flex;
}

.chat_footer > form > input{
  flex: 1;
  border-radius: 30px;
  padding: 6px;
  border:none;
  outline-width: 0;
  height: 38px;
  
} 

.chat_footer > .MuiSvgIcon-root{
  padding: 3px;
  color: gray;
}

.chat_footer > form > button{
  display: none;
}