.sidebarChat{
    display: flex;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    background-color: #f1eded;
}
.sidebarChat_info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat_info{
    margin-left: 15px;
}
